<section id="content" class="container clearfix">
	<div class="one-third">
		<h4>Liquidación de expensas</h4>
		  <ul>
					<li><a class="inline_content" href="/cargo_fijo_otros_usos">Cargo fijo otros usos</a></li>
					<li><a class="inline_content" href="/cargo_fijo_uso_residencial">Cargo fijo uso residencial</a></li>
					<li><a class="inline_content" href="/cargo_variable_uso_residencial">Cargo variable uso residencial</a></li>
					<li><a class="inline_content" href="/cargo_variable_otros_usos">Cargo variable otros usos</a></li>
					
		  </ul>
		
	</div><!-- end .one-third -->
	</section>