<section id="content" class="container clearfix">

	<h2 class="slogan align-center">Curaduria Urbana N0.1 de Soledad</h2>

	<section id="features-slider" class="ss-slider">
	
		<article class="slide">
		
			<img src="<%= asset_path("features_img_1.jpg")%>" alt="" class="slide-bg-image" />
			
			<div class="slide-button">
				<span class="dropcap">1</span>
				<h5>Consulte el Estado de su Tramite</h5>
			</div>
		
			<div class="slide-content">
				<h2>Estado de Tramite</h2>
				<p>Envie un comunicado y consulte el estado actual de su tramite.</p>
				<p><a class="button" href="/contacto">Ver mas</a></p>
			</div>
			
		</article><!-- end .slide (Responsive Layout) -->
	
		<article class="slide">
		
			<img src="<%= asset_path("features_img_2.jpg")%>" alt="" class="slide-bg-image" />
		
			<div class="slide-button">		
				<span class="dropcap">2</span>
				<h5>Calcule sus Expensas</h5>
			</div>
			
			<div class="slide-content">
				<h2>Calcule sus Expensas</h2>
				<p>Por medio de nuestro sitio Web puede calcular las Expensas.</p>
				<p><a class="button" href="/liquidacion_de_expensas">Ver mas</a></p>
			</div>
			
		</article><!-- end .slide (HTML5 / CSS3) -->
	
		<article class="slide">
		
			<%= image_tag asset_path("features_img_1.jpg"), class: "slide-bg-image"%>
		
			<div class="slide-button">
				<span class="dropcap">3</span>
				<h5>Ayudas al Usuario</h5>
			</div>
			
			<div class="slide-content">
				<h2>Ayudas al Usuario</h2>
				<p>Por medio de esta opcion obtendra ayudas.</p>
				<p><a class="button" href="#">Ver mas</a></p>
			</div>
			
		</article><!-- end .slide (Easily Customisable) -->
	
		<article class="slide">
		
			<img src="<%= asset_path("features_img_3.jpg")%>" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">4</span>
				<h5>Publicaciones </h5>
			</div>
			
			<div class="slide-content">
				<h2>Publicaciones</h2>
				<p>Consulte las ultimas publicaciones</p>
				<p><a class="button" href="#">Ver mas</a></p>
			</div>
			
		</article><!-- end .slide (Unique & Clean) -->
		
	</section><!-- end #features-slider -->


</section><!-- end #content -->


<!--[if !lte IE 6]><!-->
	
<!--<![endif]-->


<!-- Mirrored from demo.samuli.me/smartstart/index.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 13 Feb 2014 22:54:23 GMT -->
