
<section id="content" class="container clearfix">

	<header class="page-header">

		<h2 style="font-size: 19px;"  class="page-description">¿Quienes Somos?</h2>
		
	</header><!-- end .page-header -->


		<ul class="tabs-nav">

			<li class="active">
				<a href="#tab1">Misión</a>
			</li>

			<li>
				<a href="#tab2">Visión</a>
			</li>

		</ul><!-- end .tabs-nav -->

		<div class="tabs-container">

			<div class="tab-content" id="tab1">
				<p>La <strong>Curaduría Urbana N° 1 de Soledad (Atlántico)</strong> es una entidad cuya misión es brindarles a la comunidad la mejor información acerca de las reglas para llevar a cabo proyectos urbanísticos o arquitectónicos, dispuestos siempre a prestarles el mejor servicio.</p>
				<p>En La Curaduría Urbana N° 1 de Soledad (Atlántico) ofrecemos el servicio de evaluación de los requisitos técnicos y legales que deben cumplir todos y cada uno de los proyectos urbanísticos y/o arquitectónicos para adquirir una licencia que se adapte a sus necesidades. Todo esto prestando un servicio de calidad y velando por la satisfacción de las necesidades de nuestros clientes, haciendo uso de personal calificado y utilizando las ultimas tecnologías.</p>
			</div><!-- end #tab1 -->

			<div class="tab-content" id="tab2">
				<p>Ser la entidad líder en la prestación de nuestro servicio en la Costa Norte Colombiana. Lo anterior con el apoyo y la participación de todos los miembros de la empresa, por medio de la planeación, el compromiso, la disposición y la preparación de nuestro personal en la realización de sus labores, con el fin de ofrecer un servicio de calidad y garantizando el cumplimiento de los requisitos legales y la satisfacción de las  necesidades de nuestros clientes.</p>
				<p>Alcanzar y mantener permanentemente la calidad en el servicio público prestado a través del trabajo sistemático y en el mejoramiento permanente de los procesos de estudiar, tramitar y expedir licencias. Todo lo anterior con el objeto de proporcionar al cliente la confianza que se alcanza con la calidad establecida en los servicios y la contribución en el desarrollo planificado </p>
			</div><!-- end #tab2 -->

		</div><!-- end .tabs-container -->


</section><!-- end #content -->

<!--[if !lte IE 6]><!-->

<!--<![endif]-->
