<section id="content" class="container clearfix">

	<header class="page-header">

		<h2 style="font-size: 19px;"  class="page-description">Consulte aqui los documentos sobre las diferentes normas existentes.</h2>
		
	</header><!-- end .page-header -->
	
	<h4 class="acc-trigger">
				<a href="#">Decreto 1469 de 2010</a>
			</h4>

			<div class="acc-container">
				<div class="content"><p>"Por el cual se reglamentan las disposiciones relativas a las licencias urbanísticas; al reconocimiento de edificaciones; a la función pública que desempeñan los curadores urbanos; a la legalización de asentamientos humanos constituidos por viviendas de interés social, y se expiden otras disposiciones"<a href='decreto_1469'>Ver aqui</a></p></div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Ley 388 de 1997</a>
			</h4>

			<div class="acc-container">
				<div class="content"><p>Por la cual se modifica la Ley 9ª de 1989, y la Ley 3ª de 1991 y se dictan otras disposiciones”.(Nota: Reglamentada parcialmente por el Decreto 932 de 2002 del Ministerio de Desarrollo Económico)<a href='ley_388'>Ver aqui</a></p></div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Decreto 4397 de 2006</a>
			</h4>

			<div class="acc-container">
				<div class="content"><p>“Por el cual se modifican los decretos 97 y 564 de 2006”.<a href="decreto_4397">Ver aqui</a></p></div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Estatuto Urbano de Soledad</a>
			</h4>

			<div class="acc-container">
				<div class="content"><p>Contiene las normas urbanísticas estructurales, generales y complementarias, reguladoras del desarrollo urbano y rural en el municipio de Soledad, en los aspectos relacionados con la planeación del territorio, la clasificación de los usos del suelo y las acciones urbanas aplicables<a href="estatuto_urbano">Ver aqui</a></p></div>
			</div>
</section><!-- end #content -->

<!--[if !lte IE 6]><!-->
	
<!--<![endif]-->

