<section id="content" class="clearfix">

  <div class="container clearfix">

    <header class="page-header">
    
      <h1 class="page-title">Nos encontramos en la Cra 19 # 24A - 27 Piso 2, Soledad-Atlantico</h1>
      
    </header><!-- end .page-header -->

  </div><!-- end .container -->

  <section id="map">
    <p class="container">Something went wrong... Try to enable your JavaScript!</p>
  </section><!-- end #map -->
</section><!-- end #content -->


<!--[if !lte IE 6]><!-->
  
<!--<![endif]-->
