<section id="content" class="container clearfix">
	<header class="page-header">
		<h2 style="font-size: 19px;"  class="page-description">Adquirir su licencia de contrucción es mas facil de lo que usted cree.</h2>
		<img src="<%= asset_path("photos_img_2.jpg")%>" alt class="entry-image">
	</header><!-- end .page-header -->
	<div class="one-third">
		<h4>Licencias Urbanisticas</h4>
		  <ul>
					<li><a class="inline_content" href="#inline_content1">Licencia de Contrucción</a></li>
					<li><a class="inline_content" href="#inline_content2">Licencia de Urbanismo</a></li>
					<li><a class="inline_content" href="#inline_content3">Licencia de Subdivision</a></li>
					<li><a>Licencia de Parcelación</a></li>
					<li><a>Licencia Inte. y Ocupación de Espacio Publico</a></li>
		  </ul>
		<h5>Otros Tramites</h5>
      <ul>
					<li><a>Prorroga</a></li>
					<li><a>Reevaluación de Licencias</a></li>
		  </ul>
	</div><!-- end .one-third -->

	<div class="one-third">
		<h4>Reconocimiento de Edificación</h4>
      <ul>
       <li>Acto de Reconocimiento</li>
			</ul>
	</div><!-- end .one-third -->
	<div class="one-third last">
		<h4>Otras Actuaciones</h4>
		  <ul>
			  	<li><a class="inline_content" href="#inline_content4">Ajustes de Cotas de Areas</a></li>
					<li><a class="inline_content" href="#inline_content5">Concepto uso del Suelo</a></li>
					<li><a class="inline_content" href="#inline_content6">Concepto Norma Urbanistica</a></li>
					<li><a class="inline_content" href="#inline_content7">Aprobación Planos Propiedad Horizontal</a></li>
					<li><a class="inline_content" href="#inline_content8">Aprovación de Piscinas</a></li>
					<li><a class="inline_content" href="#inline_content9">Modificación de Planos Urbanisticos</a></li>
		  </ul>
	</div><!-- end .one-third.last -->	
</section><!-- end #content -->

<!--<![endif]-->

		<div style='display:none'>
      <div id='inline_content1' style='padding:10px; background:#fff;'>
      <p><strong>Licencias de Contrucción</strong></p>
      <p>Es la autorización previa para desarrollar edificaciones en uno o varios predios, de conformidad con lo previsto en el plan de ordenamiento territorial, los instrumentos que lo desarrollen y complementen y demás normatividad que regule la materia. Son modalidades de la licencia de construcción las siguientes:</p>
      <p><strong>Obra nueva.</strong>Es la autorización para adelantar obras de edificación en terrenos no construidos.</p>
      <p><strong>Ampliación.</strong>Es la autorización para cambiar el uso de una edificación o parte de ella, garantizando la permanencia del inmueble original. Cuando no se autoricen obras, solamente deberá cancelarse el (50%) del valor del cargo fijo “Cf” de la fórmula para la liquidación de expensas de que trata el artículo 109 del presente decreto, ante el curador urbano que adelante el trámite.</p>
      <p><strong>Modificación.</strong> Es la autorización para variar el diseño arquitectónico o estructural de una edificación existente, sin incrementar su área construida.</p>
      <p><strong>Restauración.</strong> Es la autorización para adelantar las obras tendientes a recuperar y adaptar una edificación declarada como bien de interés cultural o parte de ella, con el fin de mantener el uso original o permitir el desarrollo de otro uso garantizando en todo caso la conservación de los valores urbanos, arquitectónicos, estéticos e históricos establecidos en su declaratoria.</p>
      <p><strong>Reforzamiento estructural.</strong> Es la autorización para intervenir o reforzar la estructura de uno o varios inmuebles, con el objeto de acondicionarlos a niveles adecuados de seguridad sismorresistente de acuerdo con los requisitos de la Ley 400 de 1997 o la norma que la adicione, modifique o sustituya y su reglamento.</p>
      <p><strong>Demolición.</strong> Es la autorización para derribar total o parcialmente una o varias edificaciones existentes en uno o varios predios y deberá concederse de manera simultánea con cualquiera otra modalidad de licencia de construcción, salvo cuando se trate de proyectos de renovación urbana, del cumplimiento de orden judicial o administrativa o de la ejecución de obras de infraestructura vial o de servicios públicos domiciliarios que se encuentren contemplados en el plan de ordenamiento territorial o en los instrumentos que lo desarrollen y complementen.</p>
      <p><strong>Reconstrucción.</strong>Es la autorización que se otorga para volver a construir edificaciones que contaban con licencia o con acto de reconocimiento y que fueron afectadas por la ocurrencia de algún siniestro. Esta modalidad de licencia se limitará a autorizar reconstrucción de la edificación en las mismas condiciones aprobadas por la licencia original, los actos de reconocimientos y sus modificaciones.</p>
      <p><strong>Cerramiento.</strong> Es la autorización para encerrar de manera permanente un predio de propiedad privada.</p>
    </div>
    
    <div id='inline_content2' style='padding:10px; background:#fff;'>
      <p><strong>Licencia de Urbanismo</strong></p>
      <p>Es la autorización previa para ejecutar en uno o varios predios localizados en suelo urbano, la creación de espacios públicos y privados y la construcción de las obras de infraestructura de servicios públicos y de vías que permitan la adecuación y dotación de estos terrenos para la futura construcción de edificaciones con destino a usos urbanos, de conformidad con el plan de ordenamiento territorial, los instrumentos que lo desarrollen y complementen y demás normatividad vigente.</p>
      <p>PAR.―De conformidad con lo previsto en el artículo 19 de la Ley 388 de 1997 o la norma que lo adicione, modifique o sustituya, la licencia de urbanización en suelo de expansión urbana solo podrá expedirse previa adopción del respectivo plan parcial.</p>
    </div>
     <div id='inline_content3' style='padding:10px; background:#fff;'>
      <p><strong>Licencia de Subdivision</strong></p>
      <p>Es la autorización previa para dividir uno o varios predios, ubicados en suelo rural, urbano o de expansión urbana, de conformidad con lo dispuesto en el plan de ordenamiento territorial, los instrumentos que lo desarrollen y complementen y demás normatividad vigente aplicable a las anteriores clases de suelo.</p>
      <p>Cuando la subdivisión de predios para urbanizar o parcelar haya sido aprobada mediante la respectiva licencia de urbanización o parcelación, no se requerirá adicionalmente de la licencia de subdivisión.</p>
      <p>Son modalidades de la licencia de subdivisión:</p>
      <p><strong>En suelo rural y de expansión urbana:</strong></p>
      <p><strong>Subdivisión rural.</strong>Es la autorización previa para dividir materialmente uno o varios predios ubicados en suelo rural o de expansión urbana de conformidad con el plan de ordenamiento territorial y la normatividad agraria y ambiental aplicables a estas clases de suelo, garantizando la accesibilidad a cada uno de los predios resultantes.</p>
      <p><strong>En suelo urbano:</strong></p>
      <p><strong>Subdivisión urbana.</strong>Es la autorización para dividir materialmente uno o varios predios urbanizables no urbanizados ubicados en suelo urbano, de conformidad con las normas que para el efecto establezcan el plan de ordenamiento territorial y los instrumentos que lo desarrollen o complementen.</p>
      <p><strong>Reloteo.</strong>Es la autorización para dividir, redistribuir o modificar el loteo de uno o más predios previamente urbanizados, de conformidad con las normas que para el efecto establezcan el plan de ordenamiento territorial y los instrumentos que lo desarrollen y complementen.</p>
    </div>
    <div id='inline_content4' style='padding:10px; background:#fff;'>
    	<p><strong>Ajuste de cotas de áreas.</strong>Es la autorización para incorporar en los planos urbanísticos previamente aprobados por el curador urbano o la autoridad municipal o distrital competente para expedir licencias, la corrección técnica de cotas y áreas de un predio o predios determinados cuya urbanización haya sido ejecutada en su totalidad.</p>
    </div>
    <div id='inline_content5' style='padding:10px; background:#fff;'>
    	<p><strong>Concepto de uso del suelo.</strong>Es el dictamen escrito por medio del cual el curador urbano o la autoridad municipal o distrital competente para expedir licencias o la oficina de planeación o la que haga sus veces, informa al interesado sobre el uso o usos permitidos en un predio o edificación, de conformidad con las normas urbanísticas del plan de ordenamiento territorial y los instrumentos que lo desarrollen, y que no otorga derechos ni obligaciones a su peticionario.</p>
    </div>
     <div id='inline_content6' style='padding:10px; background:#fff;'>
    	<p><strong>Concepto de norma urbanística.</strong>Es el dictamen escrito por medio del cual el curador urbano, la autoridad municipal o distrital competente para expedir licencias o la oficina de planeación o la que haga sus veces, informa al interesado sobre las normas urbanísticas y demás vigentes aplicables a un predio que va a ser construido o intervenido, y que no otorga derechos ni obligaciones a su peticionario.</p>
    </div>
    <div id='inline_content7' style='padding:10px; background:#fff;'>
    	<p><strong>Aprobación de los planos de propiedad horizontal.</strong>Es la aprobación que otorga el curador urbano o la autoridad municipal o distrital competente para expedir licencias a los planos y documentos exigidos por la Ley 675 de 2001 o la norma que la adicione, modifique o sustituya, los cuales deben corresponder fielmente al proyecto de parcelación, urbanización o construcción aprobado mediante licencias urbanísticas o el aprobado por la autoridad competente cuando se trate de bienes de interés cultural. Estos deben señalar la localización, linderos, nomenclatura, áreas de cada una de las unidades privadas y las áreas y bienes de uso común.</p>
    </div>
    <div id='inline_content8' style='padding:10px; background:#fff;'>
    	<p><strong>Aprobación de piscinas.</strong>Es la autorización para la intervención del terreno destinado a la construcción de piscinas en que se verifica el cumplimiento de las normas técnicas y de seguridad definidas por la normatividad vigente.</p>
    </div>
    <div id='inline_content9' style='padding:10px; background:#fff;'>
    	<p><strong>AModificación de Planos Urbanísticos.</strong>Son los ajustes a los planos y cuadros de áreas de las urbanizaciones aprobadas y ejecutadas, cuya licencia esté vencida. esta actuación no conlleva nuevas autorizaciones para ejecutar obras, y solo implica la actualización de la información contenida en los planos urbanísticos, en concordancia con lo ejecutado.</p>
    </div>
  </div>

  <%= content_for :javascripts do %>
    <script>
      $(function(){
        $(".inline_content").colorbox({inline:true, width:"50%"});   
      });
      (function() {

    var $fancyboxItems = $('.single-image, .image-gallery, .iframe');

    // Images
    $('.single-image, .image-gallery').fancybox({
      type        : 'image',
      openEffect  : 'fade',
      closeEffect : 'fade',
      nextEffect  : 'fade',
      prevEffect  : 'fade',
      helpers     : {
        title   : {
          type : 'inside'
        },
        buttons  : {},
        media    : {}
      },
      afterLoad   : function() {
        this.title = this.group.length > 1 ? 'Image ' + ( this.index + 1 ) + ' of ' + this.group.length + ( this.title ? ' - ' + this.title : '' ) : this.title;
      }
    });

    // Iframe
    $('.iframe').fancybox({
      type        : 'iframe',
      openEffect  : 'fade',
      closeEffect : 'fade',
      nextEffect  : 'fade',
      prevEffect  : 'fade',
      helpers     : {
        title   : {
          type : 'inside'
        },
        buttons  : {},
        media    : {}
      },
      width       : '70%',
      height      : '70%',
      maxWidth    : 800,
      maxHeight   : 600,
      fitToView   : false,
      autoSize    : false,
      closeClick  : false
    });

    // Insert zoom icons, once page is fully loaded
    $(window).load(function() {

      $fancyboxItems.each(function() {

        var $this = $(this);

        if( !$this.hasClass('none') && !$this.children('.entry-image').length && !$this.parents('.image-gallery-slider').length )
          $this.css({
            'height' : $this.children().height() !== 0 ? $this.children().height() : 'auto',
            'width'  : $this.children().width()  !== 0 ? $this.children().width()  : 'auto'
          });

        $this.append('<span class="zoom">&nbsp;</span>');

      });

    });
    
  })();
    </script>
  <%end%>
